<div class="row">
    <div class="col-md-4 offset-md-4">
        <div class="card shadow text-dark mt-2">
            <div class="card-header">
                <h4 class="text text-center mb-0"> Book with us!!</h4>
            </div>
            <!-- BIND THE FORM TO bookingForm instance and invoke bookTicket() method on form submission -->
            <form [formGroup]="bookingForm" (ngSubmit)="bookTicket()">
                <div class="card-body">
                    <!-- 
                        Create input fields with appropriate labels and form controls and 
                        render the error messages for incorrect input only if the field is dirty and has invalid data
                      -->

                    <div class="form-group">
                        <!-- FORM CONTROL ==> airlinesId -->
                        <!-- airlinesId field should remain disabled -->
                        <label for="airlinesId"> Airlines Id </label>
                        <input type="text" id="airlinesId" formControlName='airlinesId'  class="form-control"/>
                    </div>

                    <div class="form-group">
                        <!-- FORM CONTROL ==> customerName -->
                        <label for="custName"> Customer Name </label>
                        <input type="text" id="custName" formControlName='customerName' class="form-control"/>
                        <div id="customerNameError" class="alert alert-danger" *ngIf="bookingForm.controls['customerName'].dirty && bookingForm.controls['customerName'].invalid">
                            <!-- Message for required error ==> 'Field Required' -->
                            <!-- Message for pattern error ==> 'Name can have only alphabets and white space' -->
                            <span *ngIf="bookingForm.controls['customerName'].errors['required']">Field Required</span>
                            <span *ngIf="bookingForm.controls['customerName'].errors['pattern']">Name can have only alphabets</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- FORM CONTROL ==> noOfTickets -->
                        <label for="noOfTickets">Number of Tickets </label>
                        <input type="number" id="noOfTickets" formControlName='noOfTickets' class="form-control"/>
                        <div id="noOfTicketsError" class="alert alert-danger" *ngIf="bookingForm.controls.noOfTickets.dirty && bookingForm.controls.noOfTickets.invalid">
                            <!-- Message for required error ==> 'Field Required' -->
                            <!-- Message for min error ==> 'Atleast 1 ticket must be booked' -->
                            <!-- Message for max error ==> 'Maximum 6 tickets can be booked' -->
                            <span *ngIf="bookingForm.controls.noOfTickets.errors.required">Field Required</span>
                            <span *ngIf="bookingForm.controls.noOfTickets.errors.min">Atleast 1 ticket must be booked</span>
                            <span *ngIf="bookingForm.controls.noOfTickets.errors.max">Maximum 1 ticket can be booked</span>
                        
                        </div>
                    </div>

                    <div class="form-group">
                        <!-- FORM CONTROL ==> dateOfJourney -->
                        <label for="dateOfJourney">Date of Journey </label>
                        <input type="date" id="dateOfJourney" formControlName='dateOfJourney' class="form-control"/>
                        <div id="dateOfJourneyError" class="alert alert-danger" *ngIf="bookingForm.controls.dateOfJourney.dirty && bookingForm.controls.dateOfJourney.invalid">
                            <!-- Message for required error ==> 'Field Required' -->
                            <!-- Message for dateError error ==> 'Journey date can't be a past date' -->
                            <span *ngIf="bookingForm.controls.dateOfJourney.errors.required ">Field Required</span>
                            <span *ngIf="bookingForm.controls.dateOfJourney.errors.dateError">Journey date can't be a past date</span>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <div class="form-group">
                        <!-- button should be disabled till bookingForm becomes valid -->
                        <button class="btn btn-outline-success btn-sm btn-block mr-4" [disabled]="bookingForm.invalid" id="confirmBooking" type="submit">
                            Confirm Booking
                        </button>
                    </div>
                    <!-- Add the code to redirect to Airlines page on click of Check out other flights? button -->
                    <button routerLink="airlines" class="btn btn-link" id="checkOutFlights" >                        
                        Check out other flights?
                    </button>
                    
                    <!-- render the success and error messages based on form submission response -->
                    <div *ngIf="errorMessage" class="text text-danger" id="errorMessage">
                        <!-- ERROR MESSAGE COMES HERE -->{{errorMessage}}
                    </div>
                    <div *ngIf="successMessage" class="text text-success" id="successMessage">
                        <!-- SUCCESS MESSAGE COMES HERE -->{{successMessage}}
                    </div>
                </div>
            </form>
        </div>

        
    </div>
</div>

