


<h2 class="textStyle text-center">Welcome to Infy Airlines</h2>
<div class="row" *ngIf="airlinesArray?.length">
    <!-- Iterate over the airlinesArray to render the cards for all the airlines -->
    <div class="col-md-3 mt-3" id="airlineCard" *ngFor="let air of airlinesArray">
        <div class="card shadow" style="opacity: 0.8;">
            <!-- 
                modify the img tag to display the image using the airlinesImage property 
                of all the airlines and set the alternate text as the airlines id 
            -->
            <img id="airlineImage" src={{air.airlinesImage}} alt={{air.id}} height="200px" class="card-img-top">
            <div class="card-body text text-center">
                <h6 id="cardTitle">
                    <!-- display the airlines name and airlines id as shown in the screenshots -->
                    {{air.airlinesName }} | {{air.id}}
                </h6>
                <div class="cardData">
                    <h6 id="fare">
                        Fare:
                    {{air.fare | currency: "USD"}}
                    <!-- display the airlines fare with proper currency symbol -->
                    </h6>
                </div>
                <!-- 
                    1. If the airlines is Cancelled, the button should be disabled, 
                    2. Invoke the showBookingForm method with proper airlines id value 
                -->
                
                <button class="btn btn-outline-dark btn-sm" [disabled]="air.status=='Cancelled'"  id="bookTicket" (click)="showBookingForm(air.id)" >
                    Book Ticket
                </button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="!airlinesArray?.length">
    <h1 class="text text-center" id="errorMessage">
        <!-- display the error message here -->{{errorMessage}}
    </h1>
</div>

<input #uName placeholder="abc@example.com">
<button (click)="print(uName.placeholder)">show</button>

<form>
    <input type="text" value="user1" (change)="getValue($event)">
</form>


